/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* line 17, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 33, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, ../sass/main.scss */
body, html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: black;
}

/* line 19, ../sass/main.scss */
.video-container, .portal, .black-layer {
  height: 100%;
  width: 100%;
}

/* line 24, ../sass/main.scss */
.video-container {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow: hidden;
}

/* line 32, ../sass/main.scss */
.video-container > video {
  position: relative;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-mask-image: url(../images/circle.svg);
  -webkit-mask-position: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 700px;
}

/* line 44, ../sass/main.scss */
.effect-container {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -400px;
  width: 800px;
  height: 800px;
}

/* line 57, ../sass/main.scss */
.ring {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 72, ../sass/main.scss */
.spin-clockwise-slow {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 10000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  transform-origin: 50% 50%;
}

/* line 76, ../sass/main.scss */
.spin-counterclockwise-slow {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 20000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  transform-origin: 50% 50%;
}

/* line 80, ../sass/main.scss */
.spin-clockwise-fast {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  transform-origin: 50% 50%;
}

@-moz-keyframes spin {
  /* line 85, ../sass/main.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 86, ../sass/main.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  /* line 89, ../sass/main.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 90, ../sass/main.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  /* line 93, ../sass/main.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 94, ../sass/main.scss */
  to {
    transform: rotate(360deg);
  }
}
